.bgColor{
    background-color: #f9f9e0;
}

.subtitle{
    color: #bacdd7;
}

.peach{
    color: #FFBCBC;
}

.babypink{
    color: #ffe5e5;
}

.barbiepink{
 color: #FF90BC;
}

.intro-style {
    display: flex;
    gap: 10px;
}

div {
    display: inline-block;
}
p {
    text-align: center;
}

@media (max-width: 680px){
    .project-img{
        display: inline-block;
    }
}